.checkbox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 80%;
    padding: 5px;
    margin: 0 auto;
}

.checkbox label{
    font-weight: bold;
    padding: 5px;
}

.opcoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 
}

.opcao{
    display: flex;
    flex-wrap: nowrap;

    flex-basis: 25%;
    text-align: center;
}

@media (max-width: 600px) {
    .checkbox {
       flex-direction: column;
    }
  }