.resultados {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  margin: 20px auto;
  padding: 20px 15px;
  width: 80%;
}

select {
  margin-top: 5px;
}
.nome {
  background-color: antiquewhite;
  border-radius: 15px 15px 0 0;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}

.aluno {
  /* display: flex; */
  border-radius: 15px;
  line-height: 0;
  border: 1px solid #ccc;
}

@media (max-width: 600px) {
  .formulario {
    width: 90%;
  }
  .resultados {
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
  }

  .lista p {
    font-size: 1rem;
  }
}

.lista {
  display: flex;
  flex-direction: column;
  margin: 5px 15px;
  font-size: 0.8rem;
}
